body {
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

i {
  padding: 0px 4px;
}

h2 {
  color: #fff;
}

#header {
  background: #303030;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 60px;
  line-height: 60px;
}

#title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
}

#nav-bar {
  background-color: #303030;
}

.nav-link {
  color: #fff;
  padding: 0px 20px;
}

@media all and (max-width: 600px) {
  #header {
    justify-content: center;
  }
  #nav-bar {
    width: 100%;
    text-align: center;
  }
}

#main {
  margin: auto;
  text-align: center;
}

#form {
}

#email {
}

#submit {
  margin-top: 20px;
}

#features {
  color: #fff;
  max-width: 40%;
  margin: 100px auto;
  text-align: left;
}

.features {
  display: inline-block;
}

.feature-head {
  margin-bottom: 0px;
}

.feature-description {
  margin-top: 0px;
}

.f-icon {
}
